Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
LetterChanger/.idea/.idea.LetterChanger/.idea/indexLayout.xml
LetterChanger/.idea/.idea.LetterChanger/.idea/riderMarkupCache.xml
LetterChanger/.idea/.idea.LetterChanger/.idea/vcs.xml
LetterChanger/LetterChanger.vcxproj
LetterChanger/LetterChanger.vcxproj.filters
LetterChanger/LetterChanger.vcxproj.user
LetterChanger/x64/Debug/LetterChanger.exe
LetterChanger/x64/Debug/LetterChanger.exe.recipe
LetterChanger/x64/Debug/LetterChanger.ilk
LetterChanger/x64/Debug/LetterChanger.obj
LetterChanger/x64/Debug/LetterChanger.pdb
LetterChanger/x64/Debug/LetterChanger.tlog/CL.command.1.tlog
LetterChanger/x64/Debug/LetterChanger.tlog/CL.read.1.tlog
LetterChanger/x64/Debug/LetterChanger.tlog/CL.write.1.tlog
LetterChanger/x64/Debug/LetterChanger.tlog/LetterChanger.lastbuildstate
LetterChanger/x64/Debug/LetterChanger.tlog/link.command.1.tlog
LetterChanger/x64/Debug/LetterChanger.tlog/link.read.1.tlog
LetterChanger/x64/Debug/LetterChanger.tlog/link.write.1.tlog
LetterChanger/x64/Debug/LetterChanger.vcxproj.FileListAbsolute.txt
LetterChanger/x64/Debug/UserText.obj
LetterChanger/x64/Debug/vc143.idb
LetterChanger/x64/Debug/vc143.pdb
LetterChanger/x64/Release/LetterChanger.exe
LetterChanger/x64/Release/LetterChanger.exe.recipe
LetterChanger/x64/Release/LetterChanger.iobj
LetterChanger/x64/Release/LetterChanger.ipdb
LetterChanger/x64/Release/LetterChanger.obj
LetterChanger/x64/Release/LetterChanger.pdb
LetterChanger/x64/Release/LetterChanger.tlog/CL.command.1.tlog
LetterChanger/x64/Release/LetterChanger.tlog/CL.read.1.tlog
LetterChanger/x64/Release/LetterChanger.tlog/CL.write.1.tlog
LetterChanger/x64/Release/LetterChanger.tlog/LetterChanger.lastbuildstate
LetterChanger/x64/Release/LetterChanger.tlog/LetterChanger.write.1u.tlog
LetterChanger/x64/Release/LetterChanger.tlog/link.command.1.tlog
LetterChanger/x64/Release/LetterChanger.tlog/link.read.1.tlog
LetterChanger/x64/Release/LetterChanger.tlog/link.write.1.tlog
LetterChanger/x64/Release/LetterChanger.vcxproj.FileListAbsolute.txt
LetterChanger/x64/Release/vc143.pdb
